:root {
  --primary: #3fb4eb;
  --primary-shadow: #2d8fbd;

  --secondary: #f0f0f0;
  --secondary-shadow: #dbdbdb;
}

.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  font-size: 1rem;
  border: 1px solid var(--secondary-shadow);
  background: var(--secondary);
  border-radius: 3px;
}

button.primary {
  border: 1px solid var(--primary-shadow);
  background: var(--primary);
  color: white;
}

.btn-row > *:not(:last-child) {
  margin-right: 10px;
}

.board {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.settings {
  margin-top: 12px;
}
